body{
    margin:0;
    width: auto;
    height: auto;
    margin-top: 0%;
    padding: 0;
}
#parent{
    background-image: url("./background1.jpg");
    /* width: fit-content; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* background-size: cover; */
    /* background-position: center; */
    height: 105vh;
    margin-bottom: 0px;
}
#header-background{
    /* width: fit-content; */
    display:flex;
    justify-content: space-between;
}

img{
    width: 150px;
}
#menu-div{
  
    height: min-content;
   width: fit-content;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   font-family: "Poppins", sans-serif;
   color:white;
  
   font-size: 20px;
}
#menu-div a:hover{
    color:aqua
    

}
#heading{
    margin-top: 50px;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#span{
    pointer-events: visibleStroke;
    text-decoration-style: solid;
    text-decoration-color:transparent;
    color:white;
}
#name{
    color: white;
   height: fit-content;
   padding-left: 100px;
  font-size: 50px;
  
}
#para{
    color: white;
    margin-left: 70px;
    width: fit-content;
    margin-top: 70px;
}
#contact-div{
    margin-top: 0;
    height: 140vh;    
    background-image: url("./contact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#head-cu{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
}
#head-cu:hover{
    color: blue;
}
#send-para{
    margin-left: 300px;
    margin-top: 100px;
    font-family:  "Poppins", sans-serif;
}
#name-input{
    margin-left: 300px;
    width: 250px;
    height: 30px;
    border:none;
}
#email-input{
    margin-left: 300px;
    width: 250px;
    height: 30px;
    border:none;
    margin-top: 50px;
}
#message-input{
    margin-left: 300px;
    width: 250px;
    height: 50px;
    border:none;
    margin-top: 50px;
}
#send-btn{
    margin-left: 300px;
    width: 150px;
    height: 30px;
    border:none;
    margin-top: 30px;
    background-color: green;
}
#contact-info{
    width: fit-content;
    position: absolute;
    margin-left: 600px;
    margin-top: 60px;
    height: 300px;
}
#header-contact{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    
}

#header-contact-2{
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: black;

}
#span-place:hover{
    background-color: black;
    color: aqua;
}
#span-food:hover{
    
    color: aqua;
}


#heading a{
    text-decoration: none;
    color: white;
    
}

#heading a:hover{
    background-color: black;
    color: aqua;
    cursor: pointer;
}

#span-home{
    text-decoration: none;
    color: white;
}
#span-home:hover{
    background-color: black;
    color: aqua;
    cursor: pointer;
}

#span-about:hover{
    background-color: black;
    color: aqua;
}
#span-contact:hover{
    background-color: black;
    color: aqua;

}
#span-home:hover{
    background-color: black;
    color: aqua;
}
#span-culture:hover{
    background-color: black;
    color: aqua;
}
#thanku{
    display: flex;
    justify-content: center;
}
#heart{
    font-size: 100px;
     text-align: center;
   
    
     
}
#bye{
   text-align: center;
  
    font-size: 50px;
   position: absolute;
   margin-top: 130px;
}
@media (max-width: 1423px){
   #name-input{
    margin-left: 10px;
    width: 200px;
   }
   #email-input{
    margin-left: 10px;
    width: 200px;
   }
   #message-input{
    margin-left: 10px;
    width: 200px;
   }
   #send-btn{
    margin-left: 10px;
   }
   #send-para{
    margin-left: 10px;
   }
   #contact-info{
    margin-left: 250px;
    width: 200px;
   }
   a{
    font-size: 20px;
   }
   #parent{
    height: 400vh;
    width: 200vh;
   }
   #contact-div{
    height: 400vh;
    width: 200vh;
   }
    }


